
@Html.Partial("_Header")

<div class="container">

    <form>
        <input id="upload-input" type="file" name="upload" style="display: none" /><br>
        <button id="open-file" class="btn">Open File</button>
        <input id="save_file" type="button" class="btn disabled" value="Save Changes"/>

        <textarea id="document-area" role="document" cols="20">
        </textarea>
    </form>
        
</div>

@section Scripts {
    <script src="~/Scripts/js/index.js"></script>
}