
@Html.Partial("_Header")

<div class="container">

    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    }
    <form>
        <input id="upload-input" type="file" name="upload" style="display: none" /><br>
        <button id="open-file" class="btn">Open File</button>
        <input id="save_file" type="button" class="btn" value="Save Changes"/>

        <textarea id="document-area" role="document" cols="20">
        </textarea>
    </form>
        
</div>

@section Scripts {
    <script src="~/Scripts/js/index.js"></script>
}