<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
      <add name="TextEditorDB"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB;database=TextEditorDB;Integrated Security=True"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TextEditorServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="TextEditorService.Service1" behaviorConfiguration="TextEditorServiceBehaviour">
        <endpoint address="http://localhost:11113/TextEditorService" binding="basicHttpBinding"
                  contract="TextEditorServiceInterface.ITextEditorContract" />
      </service>
    </services>
  </system.serviceModel>
  
</configuration>